@import "breakpoints";
/*********************animations landing and menu***********************/
.animations{
    display: none;
    z-index: -999;
    font-size: 62.5%;
    @media @for-desktop{
      display: block;
      overflow: hidden;
      position: absolute;
      top:0;
      left:0;
      right:0;
      margin: auto;
      width: 1440px;
      height: 100%;
      max-width: 1440px;
    }
  }

  .anim{
    width: 100%;
  }

  .anim-methods{
    display: none;

    @media @for-desktop {
      display: block;
      position: absolute;
      display: flex;
      top: 28em;
      left: 52%;
      transform: translateX(-50%);
    }
  }

  .anim-ico{
    min-width: 30%;
  
  }
  
  
  .lottie_bg-nodes{
    position: absolute;
    top: 0px;
    left:0;
    z-index: -999;
    @media @for-desktop {
      top: -10em;
    }
  }
  
  .lottie_node-moving{
    position: absolute;
    top: 0;
    left:0;
    z-index: -999;
  }
  
  .lottie_plant-1{
    position: absolute;
    top: -550px;
    left:0;
    z-index: -99;
    @media @for-desktop {
      top: -9.5em;
    }
  
  }

  .lottie_plant-2{
    position: absolute;
    top:0;
    left:0;
    z-index: -99;

    @media @for-desktop {
      top:-10em;
    }
  }
  
  .lottie_plant-peas{
    position: absolute;
    top:0;
    left: 0;
    @media @for-desktop {
      top:180.3em;
    }
  }
 
  
  .lottie_plant-3{
    position: absolute;
    top:3800px;
    left: 0;
    z-index: -99;

    @media @for-desktop {
      top:148.8em;
    }
  }
  
  .lottie_plant-hang{
    position: absolute;
    top: 3994px;
    left: 0;

    @media @for-desktop {
      top: 153.6em;
    }   
  }
  
  .lottie_plant-boat{
    position: absolute;
    top: 6500px;
    left: 0px;
    z-index: -99;

    @media @for-desktop{
      top: 255em;
    }
  }
  
  .lottie_leaf-up{
    position: absolute;
    top: 6400px;
    left:0;
    z-index: -99;
  
    @media @for-desktop{
      top: 247em;
    }

  }
  
  .lottie_blob-menu{
    position: absolute;
    top: 0;
    left:0;
    z-index: -9999;
    @media @for-desktop{
      top: -1.4em;
    }
 
  }
  
  .lottie_blob-middle{
    position: absolute;
    top: 1150px;
    left: -300px;
    z-index: -9999;

    @media @for-desktop {
      top: 44em;
      left: -15em;
      width: 140%;
  }
  }
  
  .lottie_blob-ico{
    position: absolute;
    top: 0;
    left:0;
    z-index: -9999;

    @media @for-desktop{
      top: 114em;
    }
    
  }
  
  .lottie_blob-emailform{
    position: absolute;
    top: 5500px;
    left:-400px;
    z-index: -9999;

    @media @for-desktop {
        top: 210em;
        left: -450px;
    }
    
  }
  
  .lottie_loop-dot-1{
    position: absolute;
    top: 0;
    left:0;
    z-index: -999;
  }
  
  .lottie_loop-line-1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
   
  }
  
  .lottie_loop-line-2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
  }
  
  /*********************************************************/
  /***********************Animations team******************/
  .team-animations{
    display: none;
    position: relative;
    display: none;
    z-index: -99;
    font-size: 62.5%;
    @media @for-desktop{
      width: 1440px;
      height: 100%;
      max-width: 1440px;
      display: block;
    }
  }
  
  .lottie_team-node{
    position: absolute;
    top:400px;
    left:0;
  }


  .lottie_team-Aubo{
    z-index: 9999;
  }
  
  
  .lottie_team-node{
    position: absolute;
    top:400px;
    left:0;
  }
  
  .lottie_team-blob-1{
    position: absolute;
    top: -200px;
    left: 400px;
    width: 160%;
    z-index: -999;

    @media @for-desktop {
      top: -14em;
      left: 12em;
    }
  }
  .lottie_team-blob-2{
  position: absolute;
  top:800px;
  right:0;
  width: 60%;
  z-index: -999;
  transform: rotate(180deg);

  @media @for-desktop {
    top:32em;
  }
  }
  .lottie_team-blob-3{
    position: absolute;
    top:1400px;
    left:0;
    width: 110%;
    z-index: -999;

    @media @for-desktop {
      top:55em;
    }
  }

  .lottie_team-loops{
    position: absolute;
    top:400px;
    left:0;
  }
  /*******************************************************/
  /*******************Animations join us*****************/
  .joinus-animations{
    position: relative;
   width: 100%;
    display: none;
    font-size: 62.5%;
    @media @for-desktop{
      width: 1440px;
      height: 100%;
      max-width: 1440px;
      display: block;
    }
    
  }
  .lottie_joinus-plant-1{
  position: absolute;
  top:0;
  left:-300px;
  z-index: -99;
  }
  .lottie_joinus-plant-2{
  position: absolute;
  top:200px;
  left:-200px;
  z-index: -99;

  @media @for-desktop {
    top:100px;
    width: 120%;
    left: -100px;
  }
  }
  .lottie_joinus-blob-1{
    position: absolute;
    top: -200px;
    left: 400px;
    width: 160%;
    z-index: -999;

    @media @for-desktop {
      top: -14em;
      left: 12em;
    }
  }
  .lottie_joinus-blob-2{
  position: absolute;
  top:600px;
  right:0;
  width: 70%;
  z-index: -999;
    @media @for-desktop {
      top: 35em;
      right:-30em;
    }
  }
  .lottie_joinus-blob-3{
  position: absolute;
  top:400px;
  left:-400px;
  z-index: -999;

  @media @for-desktop {
    top:-10em;
    left:-40em;
  }
  }
  /*****************************************************/
  