<template>
  <div class="home" aria-labelledby="main-title">
    <header class="hero">
      <Tree />

      <h1 id="main-title">{{ fm.title }}</h1>

      <p class="description">
        {{ $description }}
      </p>
    </header>

    <div
      class="features"
      v-if="fm.features && fm.features.length"
    >
      <div
        class="feature"
        v-for="(project, index) in fm.features"
        :key="index"
      >
        <h2>{{ project.title }}</h2>
        <p>{{ project.details }}</p>
        <span v-if="project.link">
          <a :href="project.link">More about {{ project.title }}</a> 
        </span>
      </div>
    </div>

    <div
      class="footer"
      v-if="fm.footer"
    >
      {{ fm.footer }}
    </div>
  </div>
</template>

<script>
import Tree from './Tree.vue'
export default {
  components: { Tree },
  computed: {
    fm () {
      return this.$page.frontmatter
    }
  }
}
</script>

<style lang="stylus">
.home
  max-width 960px
  margin 0px auto
  padding 0
  display block
  .hero
    text-align center
    img
      max-width: 100%
      max-height 280px
      display block
      margin 3rem auto 1.5rem
    h1
      font-size 3rem
    h1, .description, .action
      margin 1.8rem auto
    .description
      max-width 35rem
      font-size 1.6rem
      line-height 1.3
      color lighten($textColor, 40%)
  .features
    border-top 1px solid $borderColor
    padding 1.2rem 0
    margin-top 2.5rem
    display flex
    flex-wrap wrap
    align-items flex-start
    align-content stretch
    justify-content space-between
  .feature
    flex-grow 1
    flex-basis 30%
    max-width 30%
    h2
      font-size 1.4rem
      font-weight 500
      border-bottom none
      padding-bottom 0
      color lighten($textColor, 10%)
    p
      color lighten($textColor, 25%)
  .footer
    padding 2.5rem
    border-top 1px solid $borderColor
    text-align center
    color lighten($textColor, 25%)
@media (max-width: $MQMobile)
  .home
    .features
      flex-direction column
    .feature
      max-width 100%
      padding 0 2.5rem
@media (max-width: $MQMobileNarrow)
  .home
    padding-left 1.5rem
    padding-right 1.5rem
    .hero
      img
        max-height 210px
        margin 2rem auto 1.2rem
      h1
        font-size 2rem
      h1, .description, .action
        margin 1.2rem auto
      .description
        font-size 1.2rem
      .action-button
        font-size 1rem
        padding 0.6rem 1.2rem
    .feature
      h2
        font-size 1.25rem
</style>