<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=yes">
    <title>{{ .Title }}</title>
    {{ partial "js" . }} {{ partial "css" . }} {{ partial "jsless" . }} {{ partial "favicon" . }}
</head>

<body>
    <div class="animations">
        <div class="lottie_bg-nodes anim"></div>
        <div class="lottie_node-moving anim"></div>
    
        <div class="lottie_blob-menu anim"></div>
        <div class="lottie_blob-middle anim"></div>
        <div class="lottie_blob-ico anim"></div>
        <div class="lottie_blob-emailform anim"></div>
    
        <div class="lottie_plant-1 anim"></div>
        <div class="lottie_plant-2 anim"></div>
        <div class="lottie_plant-3 anim"></div>
        <div class="lottie_plant-peas anim"></div>
        <div class="lottie_plant-hang anim"></div>
        
        <div class="invisible lottie_loop-dot-1 anim"></div>
        <div class="lottie_loop-line-1 anim"></div>
        <div class="lottie_loop-line-2 anim"></div>
        
    
        <div class="lottie_leaf-up anim"></div>
        <div class="lottie_plant-boat anim"></div>
    </div>
{{ partial "body-open" . }}

<div class="main-container fixed {{ .Params.Background }}">
    
    <header>
        <div class="header-container">
           
            <div class="logo">
                <a href="/">
                    <img src="/img/logo_top.svg" alt="Logo top"/>
                </a>
            </div>
            {{ if (isset .Params "background") }}
            <div class="logo-big2">
                <a href="/">
                    <img src="/img/logo_big.svg" alt="Logo big"/>
                </a>
            </div>
            {{ end }}
            <div class="menu">
                <nav class="float-left">
                    <ul class="list">
                        {{ range .Site.Menus.main }}
                        <li><a href="{{ .URL }}" data-proofer-ignore>{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </nav>
                <div class="menu-button">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="clearfix"></div>
                </div>
            </div>
           
            <div class="clearfix"></div>
        </div>
       
    </header>